<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanul.team1.triplan">

    <!--권한-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".jiyoon.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- jiyoon 시작 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGOVgSZuqIfEJJnu96TsMSHd8UZP-p9uM" />
        <activity android:name=".jiyoon.SuccessActivity" />
        <activity android:name=".jiyoon.StartActivity" />
        <!-- jiyoon 끝-->

        <!--ggs 시작-->
        <activity android:name=".ggs.ggs_NLogInActivity" />
        <activity android:name=".ggs.ggs_NSignUpActivity" />
        <!--ggs 끝-->

        <!--ysh 시작-->
        <activity android:name=".ysh.DayListActivity"/>
        <activity android:name=".ysh.SiteListActivity"/>
        <activity android:name=".ysh.MapActivity"/>
        <activity android:name=".ysh.MemoActivity"
            android:theme="@style/popupTheme" android:screenOrientation="portrait"/>
        <!--ysh 끝-->

    </application>

</manifest>